<div class="book-grid">
    <link rel="stylesheet" href="/styles/bookStyles.css">
    <% locals.books.map((book) => { %>
        <div class="book-cards-with-icons <%= book.id %>">
            <a href="/book/<%=book.title%>">
                <div class="book-cards" >
                    <img src="<%= book.cover %> " alt="" srcset="" class="book-cover">
                    <p class="book-title"><%= book.title %></p>
                </div>
            </a>
            <a href="/delete-book/<%=book.id%>">
                <svg xmlns="http://www.w3.org/2000/svg" class="delete" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" onclick="editButtonCliked(<%= JSON.stringify(book) %>)" class="edit" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
        </div>
    <% }) %>
</div>

<dialog class="edit-dialog">
    <form action="edit" method="POST" class="edit-form">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="edit-title" name="title" required>
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" id="edit-author" name="author" required>
        </div>
        <div class="length-inputs">
            <label for="length">Length:</label>
            <input type="text" id="edit-length" name="length">
            <label for="length-type">Length Type:</label>
            <select name="length-type" id="edit-length-type">
                <option value="Pages">Pages</option>
                <option value="Chapters">Chapters</option>
            </select>
        </div>
        <div class="other-details">
            <label for="rating">Rating:</label>
            <input type="number" id="edit-rating" name="rating" min="0" max="10" required>
            <label for="copies">Copies:</label>
            <input type="number" id="edit-copies" name="copies" min="0" required>
            <label for="volumes">Volumes:</label>
            <input type="number" id="edit-volumes" name="volumes" min="0">
        </div>
        <div>
            <label for="series" >Series:</label>
            <input type="text" id="edit-series" name="series">
        </div>
        <div>
            <label for="synopsis" required>Synopsis:</label>
            <input type="text" id="edit-synopsis" name="synopsis">
        </div>
        <div>
            <label for="cover">Cover:</label>
            <input type="url" id="edit-cover" name="cover" required oninput="document.querySelector('.display-cover').src = `${document.querySelector('#cover').value}`">
        </div>
        <img class="edit-display-cover"></img>
        <div class="form-buttons">
            <button class="close" onclick="document.querySelector('.add-dialog').close()">Close</button>
            <button type="submit" class="submit" >Submit</button>
        </div>
        <div>
            <input type="hidden" id="edit-id" name="id">
        </div>
    </form>
</dialog>
