<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/globalStyles.css">
    <link rel="stylesheet" href="/styles/addStyles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
    <% if (searchResultsFor) { %>
        <p>Search Results For: "<%= searchResultsFor %>"</p>
    <% } %>
    <%- include('book-cards', { books: books }) %>
    <%- include('add', { genres: genres }) %>

    <script>
        function editButtonCliked(book) {
            const modal = document.querySelector('.edit-dialog');
            console.log(book)
            modal.showModal();
            modal.querySelector('#edit-title').value = book.title;
            modal.querySelector('#edit-author').value = book.author;
            modal.querySelector('#edit-length').value = book.length;
            modal.querySelector('#edit-length-type').value = book.length_type;
            modal.querySelector('#edit-rating').value = book.rating;
            modal.querySelector('#edit-copies').value = book.copies;
            modal.querySelector('#edit-volumes').value = book.volumes;
            modal.querySelector('#edit-series').value = book.series;
            modal.querySelector('#edit-synopsis').value = book.synopsis;
            modal.querySelector('#edit-cover').value = book.cover;
            modal.querySelector('.edit-display-cover').src = book.cover
            modal.querySelector('#edit-id').value = book.id
        }
    </script>
</body>
</html>