<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/globalStyles.css">
    <link rel="stylesheet" href="/styles/addStyles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
    <% if (searchResultsFor) { %>
        <p>Search Results For: "<%= searchResultsFor %>"</p>
    <% } %>
    <%- include('book-cards', { books: books }) %>
    <%- include('add', { genres: genres }) %>
</body>
</html>